html,
body {
  width: 0; /* for fixing iOS iframe issues */
  min-width: 100%; /* for fixing iOS iframe issues */
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e100f;
}
